.not-found-image {
  width: 30%;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
  font-family: 'Roboto';
  color: #1e293b;
}
.not-found-description {
  font-family: 'Roboto';
  color: #475569;
}
